{% load static %}
<!doctype html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}?after">
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
  <title>회원 관리</title>
</head>
<body>

  <h1 class="title">{% block title %}{% endblock %}</h1>
  <hr style="margin:auto;">
  <!-- 네비게이션바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            {% if not user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'cal:main' %}">메인</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'cal:calendar' %}">{{ user.username }}</a>
            {% endif %}
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/signup">회원가입</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cal:option' %}">옵션</a>
                        </li>
                        <li class="nav-item">
                            {% csrf_token %}
                            <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
  {% if not user.is_authenticated %}
    <div style="width: 100%; margin-left: auto; margin-right: auto; margin-top:100px;">
        <label style="font-size: 20px; text-align: center;width: 100%;">로그인 후 사용해 주세요.</label>
    </div>
<!--    <div class="login_form">-->
<!--      <div class="login_btn">-->
<!--        <a class="btn btn-info" href = '/accounts/login' style="width: 100px;">로그인</a>-->
<!--      </div>-->
<!--      <div class="login_btn">-->
<!--        <a class="btn btn-info" href = '/accounts/signup' style="width: 100px;">회원가입</a>-->
<!--      </div>-->
<!--    </div>-->
  {% else %}
    {% block content %}
    {% endblock %}
  {% endif %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $('ul.select li').click(function(e){
      var item = $(e.target);
      item.addClass('selected');
      item.siblings().removeClass('selected');

      var list = new Array();
      $("input[name=sc_time]").each(function(index, item2){
         list.push($(item2).val(item.text()));
      });
      time_select(e.target.textContent);

<!--      $('#events').val(item.text());-->
    });
  </script>

  {% block script %}
  {% endblock %}
</body>
</html>