{% extends 'cal/base.html' %}

{% block title %}
<!--회원 추가-->
{% endblock %}

{% block content %}
<div class="clearfix">
    <script>
        var url = new URL(window.location.href);
        var id_true = url.searchParams.has("id");

        document.write('{% if id %}');
        var id = url.searchParams.get("id");
        document.write("<form action='{% url 'cal:event_mem_edit' id %}' method='post'>");
        document.write('{% csrf_token %}');
        document.write("<input class='btn btn-info left' type='submit' value='<<'>");
        document.write("</form>");

        document.write('{% else %}');
        document.write("<a class='btn btn-info left' href='{% url 'cal:calendar' %}'> << </a>");
        document.write('{% endif %}');
    </script>

    <label id="check1" class="toggle right">
        {% if checked %}
            <input type="checkbox" onclick='getCheckboxValue(event)' checked>
        {% else %}
            <input type="checkbox" onclick='getCheckboxValue(event)'>
        {% endif %}
        <span class="labels" data-on="회원일정" data-off="회원일정"></span>
    </label>
    <label id="check2" class="toggle right">
        {% if checked2 %}
            <input type="checkbox" onclick='getCheckboxValue2(event)' checked>
        {% else %}
            <input type="checkbox" onclick='getCheckboxValue2(event)'>
        {% endif %}
        <span class="labels" data-on="기타일정" data-off="기타일정"></span>
    </label>
    <script>
        const urlParams
        = new URLSearchParams(window.location.search);
        if(urlParams.has('id') == true){
            document.getElementById('check1').hidden = true;
            document.getElementById('check2').hidden = true;
        }
        function getCheckboxValue(event)  {
          let result = '';
          if(event.target.checked)  {
            result = event.target.value;
          }else {
            result = '';
          }

          if (result == ''){
            document.getElementById("sc_name").style.display = "none";
            const element = document.getElementById('name_line');
            element.style.width = '75%';
          }else {
            if(document.getElementById("sc_name2").style.display == 'block'){
                document.getElementById("check2").click();
            }

            document.getElementById("sc_name").style.display = "block";
            const element = document.getElementById('name_line');
            element.style.width = '45%';
          }
        }

        function getCheckboxValue2(event)  {
          let result = '';
          if(event.target.checked)  {
            result = event.target.value;
          }else {
            result = '';
          }

          if (result == ''){
            document.getElementById("sc_name2").style.display = "none";
            const element = document.getElementById('name_line');
            element.style.width = '75%';
          }else {
            if(document.getElementById("sc_name").style.display == 'block'){
                document.getElementById("check1").click();
            }

            document.getElementById("sc_name2").style.display = "block";
            const element = document.getElementById('name_line');
            element.style.width = '45%';
          }
        }

        var time_list = '{{ time_list }}';
        time_list = JSON.parse(time_list.replace(/&#x27;/g, '"'));
        var time_set_id = '';
        function time_select(time){
            if(urlParams.has('id') == false){
                document.getElementByClassName('slot' + time_list.findIndex((e) => e == time)).hidden = false;
                time_set_id = time_list.findIndex((e) => e == time)
            }else{
                var test1111 = document.getElementsByTagName("button");
                for (var i=1; i < test1111.length; i++ ){

                    const url = new URL(window.location.href);
                    const urlParams = url.searchParams;
                    if (urlParams.get('name') == test1111[i].innerText){
                        test1111[i].click();
                    }
                }
            }
        }
    </script>
</div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="sc_list">
    <ul class="select left">
        {% for time in time_list %}
            <li class="select_left">{{ time }}</li>
        {% endfor %}
    </ul>
    <ul id="name_line" class="left" style="padding: 0px; width: {{ name_line_width }};">
        <script>
            var event_count = 0;
        </script>
        {% for event in event_list %}
            <li class="sc_cen">
                {% if event %}
                    <form action="{% url 'cal:schedule_edit' event.id %}" method="get" style="height:100%">
                        {% csrf_token %}
                        <script>
                            var url = new URL(window.location.href);
                            var year = url.searchParams.get("year");
                            var month = url.searchParams.get("month");
                            var day = url.searchParams.get("day");
                            var id = url.searchParams.get("id");

                            document.write("<input hidden name='year' value='" + year + "'>");
                            document.write("<input hidden name='month' value='" + month + "'>");
                            document.write("<input hidden name='day' value='" + day + "'>");
                            document.write("<input hidden name='id' value='" + id + "'>");

                            var cc = "{{ event.cancel }}";

                            console.log("{{ event.name_id }}");

                            if("{{ event.name_id }}" != ''){
                                switch(cc){
                                    case 'None':
                                        document.write('<button style="width:100%; height:100%; border: 0px; background: #ffffff; color:black;">{{ event.name }} {{ event.full_count }}{{ event.count }}</button>');
                                        break;
                                    case '차감':
                                        document.write('<button style="width:100%; height:100%; border: 0px; background: #ffffff; color:black;">{{ event.name }} {{ event.full_count }}{{ event.count }} {{ event.cancel }}</button>');
                                        break;
                                    case '취소':
                                        document.write('<button style="width:100%; height:100%; border: 0px; background: #ffffff; color:black;">{{ event.name }} {{ event.cancel }}</button>');
                                        break;
                                }
                            }else{
                                switch(cc){
                                    case 'None':
                                        document.write('<button style="width:100%; height:100%; border: 0px; background: #ffffff; color:black;">{{ event.name }} {{ event.full_count }}</button>');
                                        break;
                                    case '차감':
                                        document.write('<button style="width:100%; height:100%; border: 0px; background: #ffffff; color:black;">{{ event.name }} {{ event.full_count }} {{ event.cancel }}</button>');
                                        break;
                                    case '취소':
                                        document.write('<button style="width:100%; height:100%; border: 0px; background: #ffffff; color:black;">{{ event.name }} {{ event.cancel }}</button>');
                                        break;
                                }
                            }

                            event_count += 1;
                        </script>
                    </form>
                {% else %}
                    {% csrf_token %}
                    <script>
                        document.write("<input hidden id='slot"+ event_count +"' value='' style='text-align: center; width:100%;height:100%; border: 0px solid;'>");
                        event_count += 1;
                    </script>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<ul class="select2 left" id="sc_name" style="display: {{ name_hidden }};">
    {% for name in name_list %}
        <li>
            <form method="post" style="width: 100%; height: 100%;">
                {% csrf_token %}
                <input id="events" type="hidden" name="sc_time" value="">
                <input type="hidden" name="number" value="{{ name.num }}">
                <button id="{{ name.num }}" type="button" onclick="event_create(this)" style="width: 100%; height: 100%; border: 0px; background: #ffffff; border-radius: 5px; color:black;">{{ name.name }}</button>
                <input id="sub_{{ name.num }}" type="submit" hidden>
                <script>
                    function event_create(e){
                        var time = document.getElementById('events').value;
                        if(time != ''){
                            document.getElementById('sub_' + e.getAttribute('id')).click();
                        }
                    }
                </script>
                <div hidden><div></div>{{ form }}</div>
            </form>
        </li>
    {% endfor %}
</ul>
<ul class="select2 left" id="sc_name2" style="display: {{ name_hidden2 }};">
    <li>
        <form method="post" style="width: 100%; height: 100%;">
            {% csrf_token %}
            <input id="ec_2_time" type="hidden" name="sc_time" value="">
            <button type="button" onclick="event_create2(this)" style="width: 100%; height: 100%; border: 0px; background: #ffffff; border-radius: 5px; color:black;">확인</button>
            <input type="hidden" id="a_value_id" name="a_value" value="">
            <button hidden type="submit" id="ec2_btn"></button>
            <script>
                function event_create2(e){
                    document.getElementById('ec_2_time').value = time_list[time_set_id];
                    document.getElementById('a_value_id').value = document.getElementById('slot' + time_set_id).value;
                    if(document.getElementById('a_value_id').value != ''){
                        document.getElementById('ec2_btn').click();
                    }
                }
            </script>
            <div hidden><div></div>{{ form }}</div>
        </form>
    </li>
</ul>

{% endblock %}