{% extends 'cal/base.html' %}

{% block title %}
<!--회원 추가-->
{% endblock %}

{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
        <div class="clearfix">
            <!--    <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> << </a>-->
            <button class="btn btn-info left" type="button" onclick="history.back();"> << </button>
            <button type="submit" class="btn btn-info right" id="form_submit"> 저장 </button>
        </div>
    <table class="form form-table">
        <tr>
            <td>이름:</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>시간:</td>
            <td>{{ form.time }}</td>
        </tr>
        <tr>
            <td>내용:</td>
            <td>{{ form.description }}</td>
        </tr>
        <tr class="hidden-col">
            <td>{{ form.count }}</td>
        </tr>
        <tr class="hidden-col">
            <td>{{ form.name_id }}</td>
        </tr>
        <tr class="hidden-col">
            <td>{{ form.account }}</td>
        </tr>
        <tr class="hidden-col">
            <td>{{ form.cancel }}</td>
        </tr>

        <tr hidden>
            <td>취소/차감 메모:</td>
            <td>{{ form.cancel_comment }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <script>
                    var name_id = "{{ name_id }}"
                    if(name_id != ''){
                        document.write('<button type="button" class="btn btn-info left" onclick="event_cancel()"> 취소 </button>');
                        document.write('<button type="button" class="btn btn-info left" onclick="cancel_minus()"> 차감 </button>');
                    }
                </script>
                <button type="button" class="btn btn-info right" onclick="del()"> 삭제 </button>
            </td>
        </tr>
    </table>
</form>


<form action="{% url 'cal:delete_schedule'%}" method="get" hidden>
    {% csrf_token %}
    <input type="hidden" name="year" value="{{ year }}">
    <input type="hidden" name="month" value="{{ month }}">
    <input type="hidden" name="day" value="{{ day }}">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="cal" value="{{ cal }}">
    <input type="hidden" name="schedule" value="{{ form.id }}">
    <input type="hidden" name="event_id" value="{{ event_id }}">
    <input id="event_del" class="btn btn-info"  type="submit" value="삭제">
</form>


<script>
    function event_cancel() {
        document.getElementById("id_cancel").value = "취소";
        document.getElementById('form_submit').click();
    };
    function cancel_minus() {
        document.getElementById("id_cancel").value = "차감";
        document.getElementById('form_submit').click();
    };
    function del() {
        document.getElementById('event_del').click();
    };
</script>

{% endblock %}