/* Common styles */
body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0px;
 }

.left {
  float: left;
}

.center {
  position:absolute;
  left:71%;
  margin-left:-75px;
  margin-top:5px;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}

.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

/* App styles */
.title {
  text-align: center;
  margin: 10px;
}

.calendar {
  width: 1000px;
  margin-left: 1%;
  font-size: 13px;
}

.calendar3 tr, .calendar3 td {
  border: 1px solid black;
}

.cal_line {
    border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.hidden-col{
    display: none;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}

.error {
  color: red;
}

.mem_list {
  width: 100%;
  margin: auto;
  height: 100px;
}

.circle{
    background-color: #ff7f00;
    color: black;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;

}