{% extends 'base.html' %}
{% block content %}

<!--<div class="container">-->
<!--  <h1>회원가입</h1>-->
<!--  <form method="POST" action="{% url 'accounts:signup' %}">-->
<!--  {% csrf_token %}-->
<!--    ID : -->
<!--    <input name="username" type="text" value="">-->
<!--    <br>-->
<!--    <br>-->
<!--    PW : -->
<!--    <input name="password1" type="password" value="">-->
<!--    <br>-->
<!--    <br>-->
<!--    Confirm :-->
<!--    <input name="password2" type="password" value="">-->
<!--    <br>-->
<!--    <br>-->
<!--    <input class="btn btn-primary" type="submit" value="회원가입">-->
<!--  </form>-->
<!--</div>-->

<div class="login-wrapper">
    <h2>회원가입</h2>
    <form method="POST" action="{% url 'accounts:signup' %}" id="login-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디">
        <input type="password" name="password1" placeholder="패스워드">
        <input type="password" name="password2" placeholder="패스워드 확인">
        <input type="submit" value="회원가입">
    </form>
</div>
{% endblock %}